{% extends "model.html" %}
    {% block title %}
        <title>添加配置</title>
    {% endblock %}

    {% block content %}
    <form class="layui-form" method="post" action="setting">
        <div class="layui-form-item">
            <label class="layui-form-label">升级方案名称(非汉字)</label>
            <div class="layui-input-block">
              <input type="text" name="pro" required placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">svn目录</label>
            <div class="layui-input-block">
              <input type="text" name="baseSvnPath" required placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备份目录</label>
            <div class="layui-input-block">
              <input type="text" name="projectBak" required placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="path">
            <div class="layui-form-item">
                <label class="layui-form-label">项目1路径</label>
                <div class="layui-input-inline">
                    <input name="path" required placeholder="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">项目1名称</label>
                <div class="layui-input-inline">
                    <input name="name" required placeholder="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">tomcat1路径</label>
                <div class="layui-input-inline">
                  <input name="tomcatPath" placeholder="web类型需填写" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <a href="javascript:;" class="layui-btn"  onclick="add()">添加项目</a>
                <button class="layui-btn" lay-submit lay-filter="*">提交配置信息</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
        <script>
            layui.use('form', function(){
              var form = layui.form;
            });
            var index=1;
            function add() {
                index++;
                $(".path").append('<div class="layui-form-item">\
                                        <label class="layui-form-label">项目'+index+'路径</label>\
                                        <div class="layui-input-inline">\
                                            <input name="path" required placeholder="" autocomplete="off" class="layui-input">\
                                        </div>\
                                        <label class="layui-form-label">项目'+index+'名称</label>\
                                        <div class="layui-input-inline">\
                                            <input name="name" required placeholder="" autocomplete="off" class="layui-input">\
                                        </div>\
                                        <label class="layui-form-label">tomcat'+index+'路径</label>\
                                        <div class="layui-input-inline">\
                                          <input name="tomcatPath" placeholder="web类型需填写" autocomplete="off" class="layui-input">\
                                        </div>\
                                    </div>')
            }
        </script>
    {% endblock %}